@import (reference) "../main";

.currency-price-wrapper {
  display: inline-flex;
  align-items: center;
  height: 62px;
  width: 100%;
  margin: 0 0 20px 0;
}

.settings-page-wrapper .v-table__wrapper {
  height: calc(100vh - (@header-height + (@padding-base * 2) + 60px  + 30px + 35px + 62px + (@padding-base * 2) + 30px * 2 + 20px * 2 ))!important;

  .mobile({
    height: calc(100vh - (@header-height + @header-height + 32px + 35px + 62px + 150px))!important;
  });
}